.infocard{
    background-color: aliceblue;
    height: 100%;
    text-align: center;
}
.fname{
    font-size: 2em;
    font-weight: 500;
}
.address{
    font-size: 1.4em;
}
.email{
    font-size: 1.4em;
}
.contact{
    font-size: 1.4em;
}
.social{
    font-size: 1.4em;
}