.gmap_canvas {
    overflow:hidden;
    background:none!important;
}
.mapouter{
    position:relative;
    text-align:right;
}
.location-container{
    text-align: left;
    height: auto;
}
.futsal-name{
    font-size: 1.8em;
    font-weight: 500;
}
.location-address{
    font-size: 1.3em;
    font-style: italic;
}
.locate{
    text-align: justify;
    font-size: 1.3em;
}
.note{
    font-size: 1.8em;
    font-weight: 600;
    color: brown;
    margin-top: 200px;
}