.nav{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    height: 9vh;
}
.nav-menu{
    display: flex;
    font-size: 1.1em;
    background-color: bisque;
}
.nav-menu a:hover{
    font-size: 1.4em;
    font-weight: 600;
    color: brown;
}
.auth-check{
    font-size: 1.1em;
    background-color: bisque;
}